<h1> Hi Team</h1>

<section>
    {{#each rows}}
    <div class="place">
        <h2>places</h2>
        <p>{{this.place_name}}</p>
        <p>{{this.location}}</p>
        <p>{{this.service}}</p>
        <p>{{this.delivery}}</p>
        <img src="{{this.image}}" alt="photo">
        <h4>user info</h4>
        <p>{{this.user_name}}</p>
        <p>{{this.phone}}</p>
        <p>{{this.email}}</p>
    </div>
    {{/each}}
</section>